a {
    background-color: blue;
  box-shadow: 0 1px 0 darkblue;
  color: white;
  padding: .5em 1em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #0080ff;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}

/* Non-Demo Styles */
body {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  height: 100vh;
  /*background-image: url("book-background.jpg"), filter: blur(5px);*/
  background-color: #8080ff;

  
}
tbody {
 width: 200px;
 height: 400px;
 overflow: auto;
}

table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
    width: 640px; 
    position: relative;
    /*border-collapse: 
    collapse; border-spacing: 0; */
}

td, th {  
    border: 1px solid transparent; /* No more visible border */
    height: 35px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {  
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
}

td {  
    background: #FAFAFA;
    text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; }  
/* Hover cell effect! */
